Repository fitplot/fitplot-api: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npm exec prettier --write {staged_files} && git add {staged_files}

lint:
  run: eslint --cache --fix {staged_files} && git add {staged_files}

add prisma format to lefthook
  lefthook.yaml
  package.json
Due: format

prisma schema drop legacy ids
  package-lock.json
  package.json
  prisma/schema.prisma
Due: format

:sparkles: Prettier
  lefthook.yaml
  lib/encryption.js
  routes/auth.js
  routes/exercise.js
  routes/sets.js
  routes/waitlist.js
  routes/workout.js
  routes/workouts.js
  server.js
Due: format, lint

read `CI` env var in dockerfile
  Dockerfile
Due: none

type check runtime environment variables
  .env.example
  config.js
  lib/env.js
  package.json
  server.js
Due: format, lint

remove unused service fn
  services/workout.js
Due: format, lint

add units
  routes/index.js
  routes/units.js
  services/unit.js
Due: format, lint

persist type hint for prisma global
  lib/prisma.js
Due: format, lint

persist type hint for global environment variables
  lib/env.js
  server.js
Due: format, lint

add vitest, add id helper, add fulltext search to exercises
  .github/workflows/deployment.yml
  lib/id.js
  lib/id.test.ts
  lib/nanoid.js
  package-lock.json
  package.json
  prisma/schema.prisma
  routes/exercises.js
  routes/sets.js
  services/exercise.js
  services/session.js
  services/set.js
  services/user.js
  services/waitlist.js
  services/workout.js
Due: format, lint

RABC permission model
  prisma/schema.prisma
Due: none

some light fixes
  services/exercise.js
  services/workout.js
Due: format, lint

cleanup deploys
  .github/workflows/deployment.yml
  Dockerfile
Due: none

:nails: pretty
  routes/exercises.js
  routes/units.js
  services/unit.js
Due: format, lint

cleanup deploy yaml
  .github/workflows/deployment.yml
Due: none

try to pass CI env var differently
  .github/workflows/deployment.yml
Due: none

try again
  .github/workflows/deployment.yml
Due: none

again
  .github/workflows/deployment.yml
Due: none

cop out
  .github/workflows/deployment.yml
Due: none

super cop out
  .github/workflows/deployment.yml
  Dockerfile
Due: none

try again
  Dockerfile
Due: none

again
  Dockerfile
Due: none

add some troubleshooting output
  .husky/pre-commit
  .husky/prepare-commit-msg
  Dockerfile
Due: none

troubleshoot CI variable
  Dockerfile
Due: none

rely on lefthook to post-install itself rather than npm `prepare` hook
  .husky/pre-commit
  .husky/prepare-commit-msg
  Dockerfile
  package.json
Due: format

coerce runtime PORT to number
  lib/env.js
Due: format, lint

add dev environment
  .github/workflows/deployment.yml
  package.json
  prisma/schema.prisma
  prisma/seed.js
Due: format, lint

deploy dev
  .github/workflows/deployment.yml
Due: none

update production deploy ci step title
  .github/workflows/deployment.yml
Due: none

update the seed
  prisma/seed.js
Due: format, lint

Path conditions:
  format: any of: *.{js,json}
  lint: any of: *.js
